/* ================================= 
  Photo Overlay Transitions
==================================== */

.photo-overlay {
	opacity: 0;
	transition: opacity .5s;
}
.photo-overlay:hover {
	opacity: 1;
}

/* ================================= 
  Button Transitions
==================================== */

.button {
	transition: background .3s, color .3s;
}
.button:hover {
	color: #fff;
	background: #4a89ca;
}

/* ================================= 
  Image Transforms & Transitions
==================================== */

/* -- Row 1 --------- */

/*
img {
  transition: transform 500ms;
}

img:hover {
  transform: translate(0px,-20px) scale(1.1); 
}
*/

/* -- Row 2 --------- */

/*
.photo img {
  transform-origin: 0% 100%;
}

.photo:hover img {
  transform: scale(1.1);
}
*/

/* -- Row 3 --------- */

.slide .photo-overlay,
.slide img {
  transition: transform 600ms ease-out;
}

.slide .photo-overlay {
  transform: translateX(-100%);
}

.slide:hover .photo-overlay {
  transform: translateX(0);    
}

.slide:hover img {
  transform: translateX(100%);
}

/* -- Logo ---------- */

.logo {
  transition: transform 750ms;
}

.logo:hover {
  transform: rotate(360deg)
}
